body {
  padding-top: 4em;

}

#loginForm {
  padding-left: 30%;
}

#SignInButton {
  padding-left: 22%;
}
.navbar-dark .navbar-brand {
  color: #00bc8c !important;
  font-weight: bold; }

footer {
  padding: 1em 0;
  color: white;

}

footer p {
  margin: -0;
  font-style: italic;
}
