$brand-color: #00bc8c;

body {
  padding-top: 6em;
}

.navbar-dark .navbar-brand {
  color: $brand-color !important;
  font-weight: bold;
}

footer {
  color: white;
  padding: 1em 0;

  p {
    margin: 0;
    font-style: italic;
  }

  .img-logo {
    height: 4em;
    width: 3em;
  }
}
